/* 額外對標籤做基本樣式設定 */
a {
    display: inline-block;
    text-decoration: none;
    color: #000;
  }
  
  /* 部落格文章頁 */
  .article {
    display: flex;
    align-items: center;
    border-top: 1px solid #6c757d;
    border-bottom: 1px solid #6c757d;
  }
  .article-pic {
    width: 50%;
    height: auto;
  }
  .article-box {
    margin-left: 24px;
    padding-top: 80px;
    padding-right: 120px;
    padding-bottom: 80px;
    gap: 24px;
    .article-tag {
      color: #0027d5;
      font-size: 24px;
    }
    .article-new {
      padding: 6px 12px;
      color: #fff;
      background-color: #0027d5;
      border-radius: 40px;
    }
    .aritcle-title {
      font-size: 28px;
      font-weight: 700;
    }
  }
  /* 響應式 手機版：~767px */
  @media (max-width: 768px) {
    .article {
      flex-direction: column;
    }
    .article-pic {
      width: 100%;
      height: calc(100vh - 90px - 252px);
    }
  }
  
  .article-content {
    margin: 0 auto;
    margin-top: 80px;
    max-width: 33%;
  }
  /* 響應式 手機版：~767px */
  @media (max-width: 768px) {
    .article-content {
      max-width: 93.6%;
    }
  }
  
  .section {
    padding-bottom: 48px;
    .section-title {
      font-size: 28px;
      font-weight: 700;
      color: #0027d5; 
      padding-bottom: 24px;
    }
    ul {
      list-style: disc;
    }
    img {
      padding-bottom: 24px;
    }
    a {
      color: #0027d5; /* 文章連結顏色 */
    }
    &.black-link {
      a {
        color: #000;
      }
      li {
        margin-left: 1.5em;
      }
    }
    .with-note {
      padding-bottom: 24px;
      a {
        text-decoration: underline;
      }
    }
  }
  /* 響應式 手機版：~767px */
  @media (max-width: 768px) {
    .section img {
      width: 100vw;
    }
  }
  
  .subsection {
    padding-bottom: 24px;
    .subsection-title {
      font-size: 20px;
      font-weight: 700;
      padding-bottom: 12px;
    }
    ol {
      list-style-type: decimal;
    }
    li {
      margin-left: 1.5em;
    }
  }
  .note {
    background-color: #ededed;
    border-radius: 24px;
    padding: 24px;
    font-weight: 700;
    margin-bottom: 24px;
  }
  .article-nav-list {
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
  }
  .btn {
    border: 1px solid #000;
    border-radius: 40px;
    padding: 8px 16px;
    color: #4b4b4b;
    .bi-chevron-left {
      color: #4b4b4b;
      width: 24px;
      height: 24px;
      padding-right: 4px;
    }
    .bi-chevron-right {
      color: #4b4b4b;
      width: 24px;
      height: 24px;
      padding-left: 4px;
    }
  
  }
  .footer{
    border-top: 1px solid #000;
    text-align: center;
    .footer-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .email {
      font-size: 32px;
      width: 1036px;
      padding-top: 80px;
      padding-bottom: 80px;
      padding-right: 24px;
    }
    .social-icons {
      padding-bottom: 82px;
      padding-top: 82px;
      margin-right: 312px;
    }
  }
  /* 響應式 手機版：~767px */
  @media (max-width: 768px) {
    .footer .footer-list {
      display: none;
    }
    }
  
  .copyright {
    background-color: #ffffff;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  
  /* 桌機、平板：768px~1920px */
  
  
  /* 響應式 手機版：~767px */
  @media (max-width: 768px) {
  
  }
  